@font-face{
  font-family: "Astro Space";
  src: url(AstroSpace-0Wl3o.otf);
}
body {
  background-color: #4a0072;
  font-family: "Astro Space";
  font-size: 48px;
}
h1, h2, h3, ul li {
  color: #ffffff;
}
